{% load static %}
<html>
    <head>
        <title>Gamers Paradise</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
            <div class="page-header">
                    <div class="container">
                            <div class="row">
                                    <div class="col-md-3">
                                        <img src="https://d2q79iu7y748jz.cloudfront.net/s/_squarelogo/a1d18cba8a6b1db5979d854463b70a56" width="100" height="100">
                                        
                                    </div>
                                    <div class="col-md-7">
                                        <h1><a href="/">Gamers Paradise</a></h1>
                                    </div>
                                   <div class="col-md-2">
                                        <h1><a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-pushpin"></span></a></h1>
                                    </div> 
                                    
                            </div>
                    </div>
                </div>
        <br>
        
        
        

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>