{% load static %}
<html>
    <head>
        <title>Gamers Paradise</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Russo+One&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Saira+Semi+Condensed&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <h1><a href="/">Gamers Paradise</a></h1>
        </div>
        <script src= "https://player.twitch.tv/js/embed/v1.js"></script>
           <div id="SamplePlayerDivID"></div>
           <script type="text/javascript">
           var options = {
           width: 854,
           height: 480,
           channel: "lck",
           };
           var player = new Twitch.Player("SamplePlayerDivID", options);
           player.setVolume(0.5);
           </script>
        <br>
        <br>
        <br>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>