h1 a {
    color:  rgb(0, 0, 0);
    font-family: 'Russo One', sans-serif;
}
h2 a {
    color:  rgb(64, 197, 179);
    font-family: 'Russo One', sans-serif;
}
h3 a  {
    color:  rgb(41, 185, 166);
    font-family: 'Russo One', sans-serif;
}
h4 a  {
    color:  rgb(250, 250, 250);
    font-family: 'Black Ops One', cursive;
}
body {
    padding-left: 20px;
    background-color: rgb(206, 202, 202);
    font-size: 11pt;
}
.page-header {
    background-color: rgb(147, 52, 167);
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    
}

h3 a  {
    color:  rgb(41, 185, 166);
    font-family: 'Russo One', sans-serif;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: white;
    font-size: 36pt;
    font-family: 'Black Ops One', cursive;
}


h1 {
    font-family: 'Russo One', sans-serif;
    color:black;
    font-size: 24pt;
}
h2, h3, h4 {
    font-family: 'Russo One', sans-serif;
    color:black;
    font-size: 19pt;
}
p {
    font-family: 'Saira Semi Condensed', sans-serif;
}
.date {
    color: #828282;
}

.save {
    float: right;

}
.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: white;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post { 
    margin-bottom: 70px;
}

.post h2 a, .post h2 a:visited {
    padding: 10px;
    color: #000000;
}

.bg-light {
    margin-left: 10px;
    background-color: white;
}

.comment {
    margin: 20px 0px 20px 20px;
}
